.fz8px {
    font-size: 8px;
}
.fz10px {
    font-size: 10px;
}
.fz12px {
    font-size: 12px;
}
.fz14px {
    font-size: 14px;
}
.fz16px {
    font-size: 16px;
}
.fz18px {
    font-size: 18px;
}
.fz20px {
    font-size: 20px;
}